<%= form_for(@post) do |f| %>
	<%= error_messages_for @post %>
  <div class="field">
    <%= f.label :author_id, "Author" %><br />
    <%= f.collection_select :author_id, @authors, :id, :full_name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :excerpt %><br />
    <%= f.text_area :excerpt, :rows => 10, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows => 50, :cols => 80 %>
  </div>
  <div class="field">
	<% @categories.each do |category| %>
		<label>
		<%= check_box_tag "post[category][]", category.id, @post.categories.include?(category) %>
		<%= category.name %>
		</label><br />
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Wait..." %>
  </div>
<% end %>
