<h2><%= @post.title %></h2>

<div id='post'>
  <%= @post.body %>
</div>

<hr />

<h3>Comments</h3>
<div id='comments'>
<% if @post.comments.any? %>
	<%= render @post.comments %>
<% else %>	
	<p>Nobody commented this post yet.</p>
<% end %>
</div>

<hr />
<%= render "comments/form", :post => @post, :comment => Comment.new %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
